doctype html 
html( lang="en" )
	head
		meta( charset="utf-8" )
		meta( name="csrf" content=csrf_token )
		link( rel="stylesheet" href="/css/main.css" )
		link( rel="stylesheet" href="/css/bootstrap.css" )

		title Email Dashboard
 
	body
		block main

